@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
p{
  color: #383333;
  font-size: 16px;
}
#main-section{
  padding: 0px 50px;
}
@media only screen and (max-width: 600px) {
  #main-section{
    padding: 0px 10px;
  }
}

/*====================================================
            1.  Top Header
====================================================*/

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0px;
    background-color: #005966;
}
@media screen and (max-width: 500px) {
    .top-header{
        display: block;
    }
    .header-email > a > img{
        padding: 4px 4px;
        width: 25px;
    }
    .header-phone > a > img{
        padding: 4px 3px;
        width: 25px;
    }
}
/* ---------- Top Header Email and Phone -------------  */

.header-email > a, .header-phone > a{
    text-decoration: none;
    color: #fff;
}
.header-email > a:hover{
    transition: all .5s ease-in-out;
    color: #de9d67;
}
.header-phone > a:hover{
    transition: all .5s ease-in-out;
    color: #de9d67;
}
.header-email > a > img, .header-phone > a > img{
    padding-right: 4px;
    width: 25px;
}
.top-header > span{
    color: #de9d67;
    font-size: 21px;
    font-weight: 900;
}
@media screen and (max-width: 550px) {
    .top-header > span{
        display: none;
    }
}
/* -------- Top Header Social Icons -----------  */
.header-social{
 display: flex;
 align-items: center;
}
.header-social > a {
    text-decoration: n;
}
.header-social > a > img{
    width: 30px;
    outline: none !important;
    padding: 5px;
    margin: 0px 5px;
}

/*====================================================
              2.  NavBar
====================================================*/
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 85px;
    background: #ebf5f8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    /* background: red; */
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .navbar .logo a img{
      max-width: 150px;
  }
  nav .navbar .nav-links{
    line-height: 85px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #2f5764;
    font-size: 15px;
    font-weight: 500;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow,
  .links li:hover .tst-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    /* background: red; */
    height: 100%;
    width: 22px;
    line-height: 85px;
    text-align: center;
    display: inline-block;
    color: #2f5764;
    transition: all 0.3s ease;
  }
  
  /* ========== SubMenu ==============  */
  .sub-menu{
    padding: 0px;
  }
  .sub-menu  li{
    border-bottom: 1px solid red;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #e8f5f8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu,
  nav .navbar .links li:hover .tst-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu li:not(:last-child){
    border-bottom: 1px solid #005966;
  }

  .navbar .links li .sub-menu a{
    color: #2f5764;
    font-size: 15px;
    font-weight: 500;
  }
  .navbar .links li .sub-menu .more-arrow{
    line-height: 40px;
  }
  .navbar .links li .sub-menu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }

/* ------------- Side sticky Navbar --------------  */
  #main-div {
    position: fixed;
    right: 5px;
    bottom: 20px;
    z-index: 9999;
  }
  
  #main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: #0064f3;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid #045ad587;
  }
  
  #main-button ~ a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 40px;
    width: 40px;
    font-size: 20px;
    opacity: 0;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: .2s all linear;
    -webkit-transition: .2s all linear;
    -moz-transition: .2s all linear;
    -ms-transition: .2s all linear;
    -o-transition: .2s all linear;
  }
  
  #main-button ~ .telegram-color {
    background: linear-gradient(0deg, #017AB1, #01ABE6);
  }
  
  #main-button ~ .whatsapp-color {
    background: linear-gradient(0deg, #00B100, #09db09);
  }
  
  #main-button ~ .messenger-color {
    background: linear-gradient(0deg, #0078FF, #00C6FF);
  }
  
  #main-button.open ~ a {
    opacity: 1;
    transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
    -webkit-transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
    -moz-transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
    -ms-transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
    -o-transition: .4s all cubic-bezier(0, 0.01, 0, 1.27);
  }
  #main-button.open ~ a:nth-of-type(1) {
    bottom: 50px;
  }
  #main-button.open ~ a:nth-of-type(2) {
    bottom: 100px;
  }
  #main-button.open ~ a:nth-of-type(3) {
    bottom: 150px;
  }
  .enquiry-btn {
    border-radius: 4px;
    background-color: #0064f3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px 0px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .enquiry-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .enquiry-btn span:after {
    content: '☺';
    position: absolute;
    opacity: 0;
    top: -9.5px;
    right: -20px;
    font-size: 25px;
    transition: 0.5s;
  }
  .enquiry-btn:hover span {
    padding-right: 25px;
  }
  .enquiry-btn:hover span:after {
    opacity: 1;
    right: 0;
  }

/* -------------------- Form Style -------------  */



#enquiry .input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#enquiry .input-group input{
  border-radius: 5px;
  font-size: 15px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(54,134,245);
}
#enquiry .input-group input:focus{
  outline: none;
}
.input-group .error{
  color: #f71616;
  font-size: 13px;
}
.success-element{
  border: 1px solid #00fa00 !important;
}
.error-element{
  border: 1px solid #f71616 !important;
}
 .wave {
    animation-name: wave;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  

  @keyframes wave {
    0% {box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);}
    100% {box-shadow: 0 0 0px 10px rgba(255, 255, 255, 0);}
  }
  
  .open {
    animation-iteration-count: 1;
  }

  @media (max-width:920px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
  
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media only screen and (max-width:935px) and (min-width: 750px){

    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #ebf5f8;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .navbar .logo a img{
      max-width: 130px;
      }
    .sidebar-logo .logo-name a img{
      width: 115px;
      /* color: #fff; */
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 45px;
        color: #2f5764;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow,
  .links li:hover .tst-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu,
    nav .navbar .links li:hover .tst-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .tst-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow,
      .navbar .nav-links.show3 .links .tst-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:768px){

    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #ebf5f8;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .navbar .logo a img{
      max-width: 130px;
      }
    .sidebar-logo .logo-name a img{
      width: 115px;
      /* color: #fff; */
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 45px;
        color: #2f5764;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow,
  .links li:hover .tst-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      /* background: red; */
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .htmlCss-sub-menu,
    nav .navbar .links li:hover .js-sub-menu,
    nav .navbar .links li:hover .tst-sub-menu{
      display: none;
    }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
    .navbar .nav-links.show3 .links .js-sub-menu,
    .navbar .nav-links.show2 .links .tst-sub-menu,
    .navbar .nav-links.show2 .links .more .more-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .htmlcss-arrow,
      .navbar .nav-links.show3 .links .js-arrow,
      .navbar .nav-links.show3 .links .tst-arrow{
          transform: rotate(180deg);
  }
      .navbar .nav-links.show2 .links .more-arrow{
        transform: rotate(90deg);
      }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  .navbar .logo a img{
      max-width: 110px;
  }
  .sidebar-logo  i,
  .navbar .bx-menu{
    font-size: 35px;
    color: #2f5764;
  }
  }
  
  /* ================ Hero Slide =================  */
  .home-hero-slide{
    width: 100%;
    height: calc(100vh - 16vh);
    position: relative;
  }
  .first-slide, .second-slide, .thired-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84vh;
  }
  .first-slide{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/home/slide-img/slide-1.jpeg') no-repeat fixed center; 
  }
  .second-slide{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), white url('../images/home/slide-img/slide-2.jpg') no-repeat fixed center;  
  }
  .thired-slide{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), white url('../images/home/slide-img/slide-3.jpg') no-repeat fixed center;  
  }
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    /* font-size: 80px; */
    font-weight: 600;
    position: absolute;
    top: 30%;

  background-image: linear-gradient(
    -225deg,
    #d35959 0%,
    #f39b17 29%,
    #f0ad32 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 50% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;

  }
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 48%;
    width: 50%;
    text-align: center;

  }

/* --------------- Cover Page Btn -------------  */
.cover-btn{
  padding: 0.8em 1.8em;
  border: 2px solid #ffffff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #fff;
  font-weight: 600;
  top: 63%;
 }
 .cover-btn > a{
  color: #fff;
  text-decoration: none;
 }
 .cover-btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #fa945c;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .cover-btn:hover::before {
  width: 105%;
 }

 .cover-btn:hover {
  color: #fff;
  border: 2px solid #fa945c;
 }

 .cover-btn > a:hover{
  text-decoration: none !important;
  color: #fff !important;
 }

 /* =========== Banner Media query ===============  */
@media screen and (max-width: 1037px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 75px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 48%;
    width: 60%;
    text-align: center;

  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 61%;
   }
}
@media screen and (max-width: 867px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 48%;
    width: 70%;
    text-align: center;
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 61%;
   }
}

@media screen and (max-width: 991px) and (min-width: 560px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 48%;
    width: 70%;
    text-align: center;
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 65%;
   }
}

@media screen and (max-width: 768px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 65px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 48%;
    width: 80%;
    text-align: center;
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 63%;
   }
}
@media screen and (max-width: 576px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 55px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 44%;
    width: 100%;
    text-align: center;
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 60%;
    margin-top: 10px;
   }
}
@media screen and (max-width: 385px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 58%;

   }
}
@media screen and (max-width: 357px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 58%;
    margin-top: 10px;
   }
}
@media screen and (max-width: 330px) {
  .first-slide > h1, .second-slide > h1, .thired-slide > h1{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    top: 30%;
  }
  .first-slide > p, .second-slide > p, .thired-slide > p{
    color: #fff;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    
  }
  .cover-btn{
    color: #fff;
    font-weight: 600;
    top: 70%;
    margin-top: 10px;
   }
}

/* ---------- Home Cnt --------------  */

#about{
  width: 100%;
  height: auto;
  padding: 30px 0px 0px 0px;
}
.sec-heading{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 30px 0px;
}
.sec-heading > .sec-main > h2{
  font-weight: bold;
  font-size: 30px;
  color: #2f5764;
  padding: 20px 10px;
  margin-bottom: -.6rem;
}

.sec-main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-main > img{
  width: 40px;
}

.sec-heading > small{
  font-size: 16px;
  text-align: center;
}
.about-img > img{
  width: 650px;
  float: left;
  padding-right: 30px;
}
.about-img > p{
  line-height: 30px;
}
@media (max-width: 991px) {
  .about-img > img{
    width: 100%;
    padding-right: 0px;
    padding-bottom: 10px;
  }
}

/* ================== Tab - Menu ================  */
.tab-menu-btn{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-menu-btn > ul{
  list-style-type: none;
  display: inline-flex;
}
.tab-menu-btn > ul > li{
  margin: 0px 10px;
  padding: 10px 15px;
  border: 1px solid #de9d67;
  cursor: pointer;
  border-radius: 4px;
  transition: all .3s  ease-out;
  color: #2f5764;
}
.tab-menu-btn > ul > li:hover{
  background-color: #de9d67;
  color: #fff;
  transition: all .3s  ease-in;
}
.tab-active{
  background-color: #de9d67;
  color: #fff !important;
  transition: all .3s  ease-in;

}
@media only screen and (max-width: 576px){
  .tab-menu-btn > ul {
    display: flex;
    align-items: start;
    justify-content: start;
    padding-left: 0px;
  }
  .tab-menu-btn > ul > li{
    margin: 0px 5px;
    padding: 8px 5px;
    border: 1px solid #de9d67;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s  ease-out;
    color: #2f5764;
    font-size: 12px;
  }
}
.list-services{
padding: 15px 0px 0px 0px;
}
.list-services > ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-left: 0px;
}
.service-card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}
.service-img{
  width: 100%;
  height: auto;
  overflow: hidden;
}
.service-img > img{
  transition: all .3s ease-out;
}
.service-img > img:hover{
  transform: scale(1.1);
  transition: all .3s ease-in;
}
.service-cnt{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 5px;
}
.service-cnt > h3{
  font-size: 16px;
  margin-top: 8px;
  color: #2f5764;
  font-weight: 700;
}
.service-cnt > p{
  text-align: center;
  line-height: 26px;
  font-size: 15px;
}
.service-btn{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 10px 10px 10px 0px;
  border-top: 1px solid #ccc;
}
.service-btn > a{
  text-decoration: none;
  border: 1px solid #0064f3;
  padding: 5px 10px;
  font-size: 13px;
  color: #2f5764;
  border-radius: 5px;
  transition: all .3s ease-in;

}
.service-btn > a:hover{
  background-color: #005966;
  color: #fff;
  transition: all .3s ease-in;
}
.service-show{
  display: block;
}
.service-hide{
  display: none;
}
@media only screen and (max-width: 1200px) and (min-width: 991px){
  .list-services > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px){
  .list-services > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
}
@media only screen and (max-width: 768px){
  .list-services > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
}

/* ===================== Start FAQ ===============  */
#faq{
  padding: 50px 0px 0px 0px;
}
#faq h2 {
  font-size: 22px;
  color: #373d51;
  padding: 1.3rem;
  margin: 0;
}
.faq-heading{
  padding-bottom: 15px;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: 'ᐩ';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1.2rem;
  color: #2f5764;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #2f5764;
  text-align: center;
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '⁻';
  color: #2f5764;
  border: 1px solid #2f5764;
}

.accordion .content {
  display: none;
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}

.accordion .content p {
  font-size: 15px;
  font-weight: 300;
}
/* ------------ Videos ---------------  */
.faq-video{
  width: 100%;
}
.faq-video > iframe{
  width: 100%;
  height: 290px;
}
/* =================== Start Testimonials ==========  */
#testimonial{
  padding: 40px 0px 0px;
}
.testimonial-slide{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-slide .slide{
  padding: 20px;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
.testimonial-1{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #005966;
  border-bottom-width: 10px;
  padding: 10px;
}
.tst-logo{
  /* border: 2px solid red; */
}
.tst-logo > img{
  width: 300px;
}
.tst-cnt{
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.tst-cnt > p{
  font-size: 15px;
  line-height: 25px;
}
.tst-cnt > h6{
  font-weight: bold;
  display: flex;
  justify-content: end;
}
.tst-cnt > h6 > span{
  font-weight: 100;
}

@media only screen and (max-width: 768px){
  .testimonial-slide .slide{
    width: 100%;
  }
  .tst-logo > img{
    width: 100px;
  }
  .testimonial-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #005966;
    border-bottom-width: 10px;
  }
}
/* =================== End Testimonials ==========  */

/* ================== Start Blog =================== */
#home-blog{
  padding-top: 30px;
}
.blog-list ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  list-style-type: none;
}
.home-blog-card{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}
.home-blog-img {
  overflow: hidden;
}
.home-blog-img > img{
  transition: all .5s ease-out;
}
.home-blog-img > img:hover{
  transform: scale(1.1);
  transition: all .5s ease-in;
}
.home-blog-cnt{
  padding: 15px;
}
.home-blog-cnt > h6{
  color: #fd5f17;
  font-size: 0.875rem;
}
.home-blog-cnt > p:nth-child(2){
  font-size: 1.125rem;
  color: #131e4a;
  font-weight: 600;
  margin-bottom: 5px;
}
.home-blog-cnt > p:nth-child(3){
  font-size: 14px;
  color: #383333;
}
.home-blog-cnt > p:nth-child(3)::before{
  content: "🗓";
  padding-right: 5px;
  /* position: absolute; */
  font-size: 18px;

}
.home-blog-cnt > a{
  text-decoration: none;
  color: #131e4a;
  font-size: 14px;
  transition: all .3s ease-out;
}
.home-blog-cnt > a::after{
  content: "»";
  position: absolute;
  font-size: 20px;
  padding-left: 5px;
  margin-top: -3px;
  transition: all .3s ease-out;
}
.home-blog-cnt > a:hover{
  color: #fd5f17;
  margin-left: 10px;
  transition: all .3s ease-in;
}

@media only screen and (max-width: 990px) {
  .blog-list ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    list-style-type: none;
  }
}
@media only screen and (max-width: 768px) {
  .blog-list ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    list-style-type: none;
  }
}
/* =============== End Blog =======================  */

/* =================== Start Fun Fact ============  */
#fun-fact{
  padding-top: 50px;
}
.funfacts > ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  list-style-type: none;
}
.fun-card{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
.fun-card .funfact-card-img img{
  width: 70px;
}
.funfacts ul li .fun-card:nth-child(4)
{
  border: 2px solid red;
}.fun-card .funfact-counter > p{
  font-size: 25px;
  font-weight: 600;
  color: #5a5858;
}
@media screen and (max-width: 768px) {
  .funfacts > ul{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .funfacts > ul{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ================= End fun fact ================  */

/* =================== Start CTA Section =============  */
#cta-sec{
  margin-top: 50px;
  background-color: #005966;
}
.cta-cnt{
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cta-heading > p{
  color: #fff;
  font-size: 30px;
  margin-bottom: 0px;
  padding: 20px 0px;
}
.cta-btn > a{
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all .3s ease-in;

}
.cta-btn > a:hover{
  background-color: #FFF;
  color: #005966;
  font-weight: 600;
  transition: all .3s ease-in;
}
@media screen and (max-width: 768px) {
  .cta-cnt{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }
  .cta-heading > p{
    color: #fff;
    font-size: 30px;
    margin-bottom: 0px;
    padding: 0px 0px 20px 0px;
  }
}
/* =================== End CTA Section =============  */

/* =================== Start Footer Section =============  */
#footer{
  padding: 30px 50px 0px 50px;
}

.footer-sec > ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2rem;
  list-style-type: none;
  padding-left: 0;
}
.f-img > img{
  width: 50%;
  padding-bottom: 10px;
}
.f-cnt > p{
  font-size: 14px;
  line-height: 25px;
}
.f-social > ul{
  display: flex;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  padding-left: 0px;
}
.f-social > ul > li{
  border: .5px solid #005966;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 5px 10px 5px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ebf5f8;
  transition: all .3s ease-out;
}
.f-social > ul > li:hover{
  background-color: #005966;
  transition: all .3s ease-in;
}
.f-social > ul > li:hover a{
  color: #ebf5f8;
  transition: all .3s ease-in;
}
.f-social > ul > li > a{
  text-decoration: none;
  color: #005966;
  height: 24px;
  transition: all .3s ease-in;
}

.f-head > h6{
  font-size: 18px;
  font-weight: 600;
  color: #005966;
  padding: 10px 0px;
}
.f-links > ul, .f-addr > ul{
  list-style-type: none;
  padding-left: 0px;
}
.f-links > ul > li, .f-addr > ul > li{
  margin-bottom: 8px;
}
.f-links > ul > li > a::before{
  content: "↳";
  margin-right: 10px;
  font-size: 18px;
}
.f-links > ul > li > a, .f-addr > ul > li > a{
  text-decoration: none;
  color: #005966;
  font-weight: 500;
  font-size: 14px;
  transition: all .3s ease-out;
}
.f-links > ul > li > a:hover{
  margin-left: 10px;
  color: #de9d67;
  transition: all .3s ease-in;
}

@media  (max-width:1160px) {
  .footer-sec > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    list-style-type: none;
  }
}
@media  (max-width:991px) {
  .footer-sec > ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    list-style-type: none;
  }
  
}
@media  (max-width: 768px) {
  .footer-sec > ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 2rem;
    list-style-type: none;
  }
  .f-img > img{
    width: 30%;
    padding-bottom: 10px;
  }
  
}
@media  (max-width: 576px) {
#footer{
  padding: 30px 30px 0px 30px;
}
.f-social > ul > li{
  border: .5px solid #005966;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px 3px 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: #ebf5f8;
  transition: all .3s ease-out;
}  
}
/* =================== Start Footer Section =============  */
/* =================== Start CP Footer ===============  */
#cp-rights{
  background-color: #005966;
  margin-top: 30px;
  padding: 0px 30px;
}
.cp-cnt > ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 15px;
}
.cp-cnt > ul > li:nth-child(1) > p{
  margin: 0;
  color: #fff;
  font-size: 14px;
}
.cp-cnt > ul > li:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp-cnt > ul > li:nth-child(2)> span{
  width: 15px;
  height: 1px;
  background-color: #fff;
  margin: 0px 5px;
}
.cp-cnt > ul > li:nth-child(2) > a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
@media (max-width: 650px) {
  .cp-cnt > ul{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    margin: 0;
  }
  .cp-cnt > ul > li:nth-child(1){
    padding-bottom: 10px;
  }
}
@media (max-width: 576px) {
  #cp-rights{
    background-color: #005966;
    margin-top: 30px;
    padding: 0px 10px;
  }
  .cp-cnt > ul{
    flex-direction: column;
  }
  .cp-cnt > ul > li:nth-child(1) > p{
    margin: 0;
    color: #fff;
    font-size: 12px;
  }
  .cp-cnt > ul > li:nth-child(2) > a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }

}


/* ====================================================
                ABOUT PAGE
    =================================================== */
#about-banner .banner{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/about/about-cover.jpg') no-repeat center; 
  width: 100%;
  height: 70vh;
}
.banner > p{
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

#bredcurm{
  background-color: #ebf5f8;
}
.bredcurm-cnt{
  padding: 15px 50px;
}
.bredcurm-cnt > a{
  text-decoration: none;
  color: #005966;
  font-weight: 600;
}
.bredcurm-cnt span{
  color: #b7b1b1;
  font-weight: 600;
}

/* ------------- Page content Start -----------------  */
.main-heading > h1{
  font-size: 25px;
  padding-top: 30px;
}
.about-page-cnt{
  padding-top: 30px;
}
.about-page-cnt > h2{
  font-size: 24px;
  font-weight: bold;
  color: #005966;
}
.about-page-cnt > p{
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.about-page-cnt > ul{
  list-style-type: none;
}
.about-page-cnt > ul > li{
  padding: 3px 0px;
}
.about-page-cnt > ul > li > span{
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  margin: 8px -22px;
  border-radius: 50px;
  border: 2px solid #005966;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: myAnim 1000ms ease-in 1000ms infinite reverse none;
}
@keyframes myAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 89, 102, 1);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 10px 0px rgba(0, 89, 102, 0);
		transform: scale(1.1);
	}
}
.about-page-cnt > ul > li > span > span{
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #005966;
  border-radius: 50px;
}

/* =============== vision Mission quality ==================  */
#vmq{
  padding-top: 30px;
}
.vmq-cnt{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  /* padding: 10px 15px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.vmq-sec > ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  list-style-type: none;
}
@media (max-width: 991px) {
  .vmq-sec > ul{
    grid-template-columns: repeat(2, 2fr);    
  }
}
@media (max-width: 768px) {
  .vmq-sec > ul{
    grid-template-columns: repeat(1, 1fr);
  }
}
.vmq-cnt > h6{
  text-align: center;
  background: #005966;
  padding: 10px 0px;
  font-weight: 600;
  color: #fff;
  position: relative;
  z-index: 9;
}
.vmq-cnt > p{
    font-size: 14px;
    padding: 5px 15px;
    line-height: 24px;
    position: relative;
    z-index: 9;
}
.vmq-cnt::before{
  content: "";
  position: absolute;
  width: 200px;
  height: 700px;
  display: inline-grid;
  align-items: center;
  background: linear-gradient(#ff8400, #00aaff);
  animation: dummy 6s linear infinite;
  margin-top: -50px;
  left: 25%;

}
.vmq-cnt::after{
  content: "";
  position: absolute;
  inset: 4px;
  border-radius: 5px;
  background: #fff;
}
@keyframes dummy {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* ================== Why Choose =====================  */

#why-choose{
  padding-top: 30px;
}
.why-choose-sec > ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  list-style-type: none;
}
@media (max-width: 1085px) {
  .why-choose-sec > ul{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 991px) {
  .why-choose-sec > ul{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .why-choose-sec > ul{
    grid-template-columns: repeat(1, 1fr);
  }
}
.why-choose-card{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1.6px;
  border-radius: 5px;
}
.why-choose-card > img{
  transition: all .3s ease-out;

}
.why-choose-card:hover img{
  transform: scale(1.10);
  transition: all .3s ease-in;
}
.why-choose-card > img{
  width: 70px;
  margin-bottom: 20px;
}
.why-choose-card > p{
  font-size: 13px;
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

/* ====================================================
                HOUSE PAGE
    =================================================== */
    #house-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/residential/cover-img/house.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    .house-cnt{
      position: relative;
      padding-top: 10px;
    }
    .house-cnt > h2{
      font-size: 22px;
    }
    .house-cnt > img{
      width: 50%;
      float: right;
      padding: 10px 10px 15px 10px;
    }
    @media (max-width: 991px) {
      .house-cnt > img{
        width: 100%;
      }
    }
    .house-cnt > p{
      line-height: 27px;
      font-size: 15px;
    }

/* ------------- Page content Start -----------------  */
.page-cnt{
  padding-top: 0px;
}
.page-cnt > h2{
  font-size: 24px;
  font-weight: bold;
  color: #005966;
}
.page-cnt > p{
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.page-cnt > ul{
  list-style-type: none;
}
.page-cnt > ul > li{
  padding: 3px 0px;
  line-height: 28px;
}
.page-cnt > ul > li > span{
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  margin: 8px -22px;
  border-radius: 50px;
  border: 2px solid #005966;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: myAnim 1000ms ease-in 1000ms infinite reverse none;
}
@keyframes myAnim {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 89, 102, 1);
		transform: scale(1);
	}

	100% {
		box-shadow: 0 0 10px 0px rgba(0, 89, 102, 0);
		transform: scale(1.1);
	}
}
.page-cnt > ul > li > span > span{
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #005966;
  border-radius: 50px;
}

.gallery > ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: .5rem;
  list-style-type: none;
}

@media (max-width: 991px) {
  .gallery > ul{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .gallery > ul{
    grid-template-columns: repeat(1, 1fr);
  }
}


/* ====================================================
                FLATS PAGE
    =================================================== */
    #flats-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/residential/cover-img/flats.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #flats-banner > p, li{
      font-size: 15px;
    }

/* ====================================================
                Condominium PAGE
    =================================================== */
    #condominium-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/residential/cover-img/condominum.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #condominium-banner > p, li{
      font-size: 15px;
    }
/* ====================================================
                Duplex PAGE
    =================================================== */
    #duplex-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/residential/cover-img/duplex.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #duplex-banner > p, li{
      font-size: 15px;
    }
    /* ====================================================
                Cloude Storage PAGE
    =================================================== */
    #cloud-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/industrial/cover-img/cloud.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #cloud-banner > p, li{
      font-size: 15px;
    }
/* ====================================================
                Data Center PAGE
    =================================================== */
    #data-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/industrial/cover-img/data-center.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #data-banner > p, li{
      font-size: 15px;
    }
  /* ====================================================
                Manufacture Buildings PAGE
    =================================================== */
    #manufacture-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/industrial/cover-img/manifacture.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #manufacture-banner > p, li{
      font-size: 15px;
    }
/* ====================================================
                Hospital Buildings PAGE
    =================================================== */
    #hospital-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/commercial/cover-img/hospital.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #hospital-banner > p, li{
      font-size: 15px;
    }

    /* ====================================================
                Shopping Complex Buildings PAGE
    =================================================== */
    #shopping-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/commercial/cover-img/shopping.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #shopping-banner > p, li{
      font-size: 15px;
    }

 /* ====================================================
                Scholl Collages Buildings PAGE
    =================================================== */
    #school-collage-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/commercial/cover-img/school.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #school-collage-banner > p, li{
      font-size: 15px;
    }

    /* ====================================================
                Office Buildings PAGE
    =================================================== */
    #office-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/commercial/cover-img/office.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #office-banner > p, li{
      font-size: 15px;
    }

/* ====================================================
                Warehouses Buildings PAGE
    =================================================== */
    #warehouses-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/industrial/cover-img/warehouses.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #warehouses-banner > p, li{
      font-size: 15px;
    }

    /* ====================================================
                Contact Buildings PAGE
    =================================================== */
    #contact-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), white url('../images/contact/contact-cover.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #contact-banner > p, li{
      font-size: 15px;
    }

    /* ====================================================
                Hotel & Resort Buildings PAGE
    =================================================== */
    #hotel-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/commercial/cover-img/hotel.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #hotel-banner > p, li{
      font-size: 15px;
    }

    /* ====================================================
               chimny PAGE
    =================================================== */
    #chimney-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/industrial/cover-img/chimny.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #chimney-banner > p, li{
      font-size: 15px;
    }

 /* ====================================================
               Plants PAGE
    =================================================== */
    #plant-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/industrial/cover-img/plant.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #plant-banner > p, li{
      font-size: 15px;
    }

/* ====================================================
               Oil & Gas PAGE
    =================================================== */
    #oil-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/industrial/cover-img/oil.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #oil-banner > p, li{
      font-size: 15px;
    }

/* ====================================================
               Career PAGE
    =================================================== */
    #career-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/contact/career-cover.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #career-banner > p, li{
      font-size: 15px;
    }


    /* ====================================================
               Residential PAGE
    =================================================== */
    #residential-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/residential/cover-img/residential-service.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #residential-banner > p, li{
      font-size: 15px;
    }

    /* ====================================================
               Industrial PAGE
    =================================================== */
    #industrial-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/industrial/cover-img/commercial-services.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #industrial-banner > p, li{
      font-size: 15px;
    }

        /* ====================================================
               Commercial PAGE
    =================================================== */
    #commercial-banner .banner{
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), white url('../images/commercial/cover-img/commercial-services.jpg') no-repeat center; 
      width: 100%;
      height: 70vh;
    }
    #industrial-banner > p, li{
      font-size: 15px;
    }


    /* ------------ Form ---------------------------  */
    #career-form input:focus,  #career-form textarea:focus, #career-form select:focus{
      box-shadow: inset 0 -1px 0 #ddd;
    }
    #others{
      display: none;
    }
    #career-form input:not([type=file]), #career-form select, #career-form textarea{
      border: 1px solid #de9d67;
    }
    .g-recaptcha {
      transform:scale(0.77);
      -webkit-transform:scale(0.77);
      transform-origin:0 0;
      -webkit-transform-origin:0 0;
    }


/* =========================
    Contact US Page
=================================*/
.error{
  color: rgb(240, 0, 0);
}

.contact-card{
  padding-top: 50px;
}
.contact-card > ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 5rem;
  list-style-type: none;
  position: relative;
}
@media (max-width: 991px) {
  .contact-card > ul{
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  padding-left: 0;
  }
}

.contact-form > h2{
  font-size: 17px;
  padding: 8px 0px;
  color: #de9d67;
}
.contact-form > h3{
  font-size: 25px;
  padding-bottom: 20px;
  font-weight: 600;
  color: #005966;
}

.contact-info{
  margin-top: 25%;
  right: 0;
  background-color: #005966;
  color: #fff;
  padding: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
@media (max-width: 991px) {
  .contact-info{
    margin-top: 5%;
  }
}
.contact-info ul{
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
}
.contact-info ul li{
  margin: 10px 0px;
}
.contact-info ul li i{
  font-size: 20px;
  padding-right: 10px;
}
.contact-info ul li a{
  text-decoration: none;
  color: #fff;
}

#contact-form .form-group{
  margin: 15px 0px;
}
#contact-form .form-group input, .form-group textarea{
  font-size: 14px;
  border: 2px solid #005966;
}
#contact-form .form-group input::placeholder, .form-group textarea::placeholder{
  color: #c0b4b4;
}
#contact-form .form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
.contact-form-btn{
 padding: 8px 25px;
 outline: none;
 background-color: transparent;
 border: 2px solid #005966;
 color: #005966;
 border-radius: 5px;
 transition: all .2s ease-in;

}
.contact-form-btn:hover{
  background: #005966;
  color: #fff;
  transition: all .2s ease-in;
}

.map_sec{
  padding: 50px 0px;
}
.map_inner h4, .map_inner p{
  color: #000;
  text-align: center
}
.map_inner p{
  font-size: 13px;
}
.map_bind{
 margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}



/* =================== Thank You Page Design ================  */
.wrapper-1{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
}
.wrapper-2{
  padding :30px;
  text-align:center;
}

.wrapper-2 p{
  margin:0;
  font-size:1.3em;
  color:#aaa;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;
}
.go-home{
  color:#fff;
  background:#5892FF;
  border:none;
  padding:10px 50px;
  margin:30px 0;
  border-radius:30px;
  text-transform:capitalize;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}
.footer-like{
  margin-top: auto; 
  background:#D7E6FE;
  padding:6px;
  text-align:center;
}
.footer-like p{
  margin:0;
  padding:4px;
  color:#5892FF;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;
}
.footer-like p a{
  text-decoration:none;
  color:#5892FF;
  font-weight:600;
}

@media (min-width:360px){
  h1{
    font-size:4.5em;
  }
  .go-home{
    margin-bottom:20px;
  }
}

@media (min-width:600px){
  .content{
  max-width:1000px;
  margin:0 auto;
}
  .wrapper-1{
  height: initial;
  max-width:620px;
  margin:0 auto;
  margin-top:50px;
  box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
}
  
}

