*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*====================================================
            1.  Top Header
====================================================*/

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0px;
    background-color: #005966;
}
@media screen and (max-width: 500px) {
    .top-header{
        display: block;
    }
    .header-email > a > img{
        padding: 4px 4px;
        width: 25px;
    }
    .header-phone > a > img{
        padding: 4px 3px;
        width: 25px;
    }
}
/* ---------- Top Header Email and Phone -------------  */

.header-email > a, .header-phone > a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.header-email > a:hover{
    transition: all .5s ease-in-out;
    color: #de9d67;
}
.header-phone > a:hover{
    transition: all .5s ease-in-out;
    color: #de9d67;
}
.header-email > a > img, .header-phone > a > img{
    padding-right: 4px;
    width: 25px;
}
.top-header > span{
    color: #de9d67;
    font-size: 21px;
    font-weight: 900;
}
@media screen and (max-width: 550px) {
    .top-header > span{
        display: none;
    }
}
/* -------- Top Header Social Icons -----------  */
.header-social{
 display: flex;
 align-items: center;
}
.header-social > a {
    text-decoration: n;
}
.header-social > a > img{
    width: 30px;
    outline: none !important;
    padding: 5px;
    margin: 0px 5px;
}

/*====================================================
              2.  NavBar
====================================================*/

header{
    background-color: #ebf5f8;
    padding: .2rem 0;
}
.hero-logo {
    width: 150px;
    padding: 0px 10px;
}
nav{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.menu{
    margin-bottom: 0px;
}
.menu > li{
    position: relative;
}
.menu > li, .menu > a{
    display: inline-block;
}
.menu > li > a{
    text-decoration: none;
    color: #005b67;
    display: block;
    padding: 10px 1.5rem;
    font-weight: 600;
    transition: background-color .22s ease, color .22s ease;
}

/* ---------- Lavel Style -------------  */
.sub-menu{
    position: absolute;      
    background: #ebf5f8;
    width: 200px;
    left: 0px;
    padding: 0;
    display: none;
    list-style-type: none;
}
.sub-menu > li{
    padding: 10px 0px;
}
.sub-menu > li:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.sub-menu > li > a{
    text-decoration: none;
    color: #005b67;
    font-weight: 500;
    padding: 10px 2px;
    transition: background-color .22s ease, color .22s ease;
}
/* ----------- Menu hover --------------  */
.menu > li > a:hover{
    background-color: #de9d67;
    color: #fff;
}
.sub-menu > li:hover a{
    color: #de9d67;
}

/* -------- Show menus ---------------  */
.menu > li:hover .sub-menu{
    display: block;
}


/* ========== Mobile Responsive ==========  */
.nav-menu > img{
    display: none;
}

@media screen and (max-width : 924px) {
    header{
       padding: 0px 5%;
    }
    .nav-menu > img{
        display: block;
        width: 40px;
        cursor: pointer;
    }
    /* .menu{
        display: none;
    } */
    nav{
        display: block;
        /* position: relative; */
    }
    .menu{
        margin-top: 10px;
    }
    .menu > li{
        /* border: 1px solid red; */

    }
    .menu > li > a{
       /* display: none; */
    }
    .menu > li, .menu > a{
        display: block;
    }
 
   


   


}